body {
  background-image: url(../assets/contactbg-img.jpg);
}

h1 {
  color: black;
  margin-left: auto;
  margin-right: auto;
}

ul li {
  text-align: left;
  margin-left: 25px;
  font-size: 20px;
}

.formtable {
  color: black;
}

table {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  margin-left: 50px;
  width: 340px;
}

#footer {
  padding-top: 200px;
  color: black;
}
