body {
  background-image: url(../assets/specialeventsbg-img.jpg);
  background-size: cover;
}

.functionslist {
  text-align: center;
}

.functionslist ul {
  margin-left: 100px;
  list-style: none;
  font-size: 20px;
  list-style: none;
}

ul li {
  text-align: left;
  margin-left: 25px;
  font-size: 20px;
}

.functionsp {
  margin-top: 50px;
  text-align: center;
}

.functionsevent {
  margin-top: 50px;
  text-align: center;
}

p {
  color: black;
  margin-left: 300px;
  margin-right: 300px;
}

.all-flex-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0 2em;
}

.flex-item {
  flex: 0 0 47%;
  border: 1px solid #444;
  margin: 0.5em 1%;
  background: #BC4639;
}

@media (min-width: 64em) {
  .flex-item {
    width: 31%;
    flex: 0 0 31%;
  }
}

.flex-item img {
  width: 100%;
  height: 325px;
}

.flex-item h4 {
  text-align: center;
  margin: 0.3em 0;
  padding: 0;
  font-size: 1.1rem;
  display: block;
  color: white;
}
