p {
  font-size: 20px;
}

.functionslist {
  text-align: center;
}

.functionslist ul {
  margin-left: 100px;
  list-style: none;
  font-size: 20px;
  list-style: none;
}

ul li {
  text-align: left;
  margin-left: 25px;
  font-size: 20px;
}

.functionsp {
  margin-top: 50px;
  text-align: center;
}

.functionsevent {
  margin-top: 50px;
  margin-left: 120px;
  text-align: center;
}

.specialeventsimg {
  width: 100%;
}
