body {
  background-image: url(../assets/loginbg-img.jpg);
}

.footer-item {
  padding-top: 400px;
  display: inline-block;
  margin-left: 40px;
}

ul li {
  text-align: left;
  margin-left: 25px;
  font-size: 20px;
}
