body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-image: no-repeat;
}

header {
  background: #BC4639;
  width: 100%;
  padding: 15px 0;
  color: white;
  text-align: center;
}

header a {
  margin: 10px 20px 30px 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  background-color: #5C2018;
  overflow: hidden;
  color: white;
  padding: 0;
  text-align: center;
  margin: 0;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li:hover {
  background-color: #9b9b9b;
}

h1 {
  font-style: black;
  font-size: 50px;
  text-align: center;
  color: #5C2018;
}

p {
  color: black;
  font-size: 20px;
}

input {
  margin: 10px auto;
  width: 345px;
  height: 45px;
  display: block;
  font-size: 22px;
  opacity: 0.654;
  background: transparent;
  border: 1px solid black;
  color: white !important;
  padding-left: 5px;
  box-sizing: border-box;
}

input:-webkit-autofill {
  -webkit-color: white !important;
}

::Placeholder {
  color: black !important;
  font-family: 'Montserrat', sans-serif;
}

input[type="submit"] {
  background: black;
  color: white;
  opacity: 1;
  border: none;
  box-shadow: 0 0 5px grey;
  font-family: 'Montserrat', sans-serif;
}

.form {
  margin: 0 auto;
  width: 60%:;
  padding-top: 300px;
}

#footer {
  position: static;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  font-size: 20px;
  color: white;
}

.footer-item {
  display: inline-block;
  margin-left: 40px;
}
